# Ubuntu 14.04 Trusty support
sudo: required
dist: trusty

language:
  - cpp

compiler:
  - gcc


script:
  - mkdir build
  - cd build
  - cmake ..
  - make


notifications:
  email: false
  slack: 7552-tallerii:pPtNMc7Fysne3xXz36XuNxWg
